/*I managed to make the hover effect but not to position the images in the grid*/

/* the fonts*/
#localartists p{
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	border-bottom: 2px solid rgba(41,61,61,0.7);;
	width: 30%;
	padding-bottom: 20px;
	color: #141f1f;
}


/*position and hight of all images*/

#localartists img{
 width: 300px;
 height: 200px;
}


/* Hover effect
three divs matter: the image, the description and the two together
to play with the appear and disappear on hover I use the opacity function,
  since the displace:none function is really glitchy
*/

.hovercontainer{ /*the div with everything inside*/
  position:relative;
  width: 300px;
  height: 200px;
}

.hoverdescription{ /* this is the div with the description behind image*/
  position:absolute; /* i am allowing for overflow between the description and the image*/
  width: 300px; /*the text description has to be the same size as the image to have good hover effect*/
  height: 200px; /*see above*/
  background-color: hotpink;
  opacity:0; /* how much you see the text description behind the image*/
}

.hoverdescription:hover{ /*the description appears on hover*/
  opacity:1;
  transition: opacity 0.6s linear;/*we can improve this transition*/;
}

.imageartist_1:hover{
  opacity:0.5;   /* display:none is really glitchy */
}

.hoverdescription:hover{
  visibility: appear; /*the description appears on hover */
  display: block;
  background-color: hotpink;
  text-align:center; /*this aligns horizontally*/
  vertical-align: middle; /*this and the one after aligns vertically*/
  line-height: 200px;
}
